<!DOCTYPE html>
<html>
<head>
    <title>Personal Finance Manager</title>
</head>
<body>
<div id="main_container">
    <div class="header">

    </div>
    <div class="main_content">
        <div class='menu'>
           <!-- horizontal menu -->
        </div>

        <div class="center_content">
            <div class="left_content">
                <div class="sidebar_search">
                   <!-- search -->
                </div>
                <div class	="sidebarmenu">
                    <!-- sidebar -->
                </div>
            </div>
            <div class="right_content" id = 'right_content'>

                  <div id = 'left-m' style="width:300px; float:left">

                    <!-- entry form here -->
                </div> <!-- end of left-m div -->
                <div id = 'statbar' style = 'float:left; width:600px'>
                    <div id = 'inst' style = 'display:none'>
                       <!-- transaction search -->>
                    </div>
                    <table style = 'width:600px' id='rounded-corner' class = 'table-right'>
                        <thead>
                        <tr>
                            <!-- table title -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <!-- column headers -->
                        </tr>
                        <tr>
                            <!-- navigation -->
                        </tr>
                        <div class = 'swap' id="listrecords">
                            <tr class = 'datarow' style = 'font-size:1.0em' id="row39760">
                               <!-- single record here -->
                            </tr>
                        </div>
                        <tr class="footer-row">
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- end of right content-->
        </div>   <!--end of center content -->
        <div class="clear"></div>
    </div> <!--end of main content-->
    <div class="footer">

    </div>
</div>

</body>
</html>